services:
  perforce:
    build: frozenfoxx/p4d:latest
    container_name: p4d
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    ports:
      - "1666:1666"
    environment:
      - FQDN="perforce.local"
      - P4ROOT=/opt/perforce/server
      - P4_DEPOTS=/opt/perforce/depots
      # - UID=1000
      # - GID=1000
    volumes:
      - ./server:/opt/perforce/server
      - ./depots:/opt/perforce/depots